body
{background-color: black;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
max-width: 120pc;
margin: 0% auto;
padding: 15px;
}

header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

li{
display: inline-block;
margin: 20px;
}